<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }} - Strudel Kids Lab</title>
<script>window.process = { env: { NODE_ENV: 'production' } };</script>
<script src="/js/duration.js"></script>
<script src="/js/staff-layout.js"></script>
<script src="/js/trainer-store.js"></script>
<script src="https://unpkg.com/@strudel/repl"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/6.4.1/abcjs-basic-min.js"></script>
<link rel="stylesheet" href="/css/vars.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/piano.css">
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/trainer.css">
